*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

button{
  padding: .8rem 2rem;
  border: none;
}

.navbar{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  font-size: .8em;
  padding: 0% 2rem;
  box-shadow: 2px 3px 5px #888888;
  /* position: sticky;
  z-index: 1000; */
}

.nav__links-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30vw;
}

.header-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  gap: 2rem;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 3px 2px 5px #888888;
  background-color: #fff;
  height: 90vh;
  padding: 1.2rem 3rem;
}

img{
  width: 100%;
  height: 100%;
}

.image-box{
  width: 50vw;
}

.btn-action{
  background-color: #FF6347;
}

.port-cont{
  display: flex;
  align-items: center;
  padding: 3rem;
  gap: 3rem;
  text-align: center;
  justify-content: space-around;
}

.logo-container:first-child{
  border-left: .1rem solid #FF6347;
  border-top: .1rem solid #FF6347;
  padding: 1.5rem;
}

.logo-container:last-child{
  border-right: .1rem solid #FF6347;
  border-bottom: .1rem solid #FF6347;
  padding: 1.5rem;
}

.logo-container img{
  height: 60vh;
}

.logo-container h2{
  padding-bottom: .5rem;
}

.port-container h1{
   text-align: center;
   padding: 2rem 0;
   background: #ee0979;
    background: -webkit-linear-gradient(to right, #ff6a00, #FF4433);
    background: linear-gradient(to right, #ff6a00, #FF4433 ); 
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.text-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40vw;
}

.text-box .btn-normal{
  display: inline-block;
}

.about-cont{
  padding: 2.3rem;
}

.socials-container{
  height: 20vh;
  box-shadow: inset .1rem .2rem .3rem #888888;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  gap: 2rem;
}

.fb:hover{
   color: #3b5998;
}

.insta:hover{
  color: #feda75;
}

.twitter:hover{
  color: #3b5998;
}

.linked:hover{
  color: #3b5998;
}

.copy-container{
  height: 10vh;
  font-size: .7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #888888;
}

.about__page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 0;
}

.about__page-container h1{
  background: #ee0979;
  background: -webkit-linear-gradient(to right, #ff6a00, #FF4433);
  background: linear-gradient(to right, #ff6a00, #FF4433 ); 
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-size: 100%;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  padding: 2rem 0;
}

.about__page-container .text-box{
  width: 80vw;
}

.about__page-container .text-box h1{
  text-align: center;
}

.about__page-container .image-cont{
  width: 50vw;
  height: fit-content;
}

.nav-link{
  color: #888888;
  text-decoration: none;
  padding: 1rem;

}

.nav-link:hover{
  background-color: #ff6a001c;
  border-bottom: 2px solid #ff6a00;
}


 .link-active{
  background-color: #ff6a001c;
  border-bottom: 2px solid #ff6a00;
}

.Contact-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 2rem ;
  height: max-content;
  gap: 2rem;
}

.contact__inputs-cont{
  display: flex;
  flex-direction: column;
  gap: 1rem;
} 

.contact__inputs-cont input{
  padding: 1rem;
}

.contact__inputs-cont textarea{
  padding: 1rem;
}

.portfolio__img-cont{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.portfolio-container{
  padding: 2.5rem;
}

.portfolio-container select{
  padding: .8rem 1.2rem;
  margin-bottom: 1rem;
}

/* .portfolio__img-cont img{
  height: 18vh;
} */

.slide-container{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  position: relative;
}

.arrow{
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  color: #FF6347;
}


@media only screen and (max-width: 600px) {
  .header-text{
    width: 100vw;
  flex-wrap: wrap;
  text-align: center;
  }

  .image-box{
    width: 100vw;
    height: 15rem;
    padding: 2rem 0%;
  }
}